[Unit]
Description=Jet Adventure Service
After=network.target

[Service]
User=jet-adventure
Environment="SPRING_PROFILES_ACTIVE={{ spring_profiles_active }}"
Environment="AWS_SECRETS_NAMES_AFS_CREDENTIALS={{ aws_secrets_names_afs_credentials }}"
Environment="EWI_ENDPOINT={{ ewi_endpoint }}"
Environment="EWI_BAY_USERNAME={{ ewi_bay_username }}"
Environment="EWI_BAY_USER_GROUP={{ ewi_bay_user_group }}"
Environment="EWI_BAY_WORKSTATION={{ ewi_bay_workstation }}"
Environment="EWI_BAY_AFS_USER={{ ewi_bay_afs_user }}"
Environment="EWI_AYCAL_USERNAME={{ ewi_aycal_username }}"
Environment="EWI_AYCAL_USER_GROUP={{ ewi_aycal_user_group }}"
Environment="EWI_AYCAL_WORKSTATION={{ ewi_aycal_workstation }}"
Environment="EWI_AYCAL_AFS_USER={{ ewi_aycal_afs_user }}"
Environment="IFU_BAY_ENDPOINT={{ ifu_bay_endpoint }}"
Environment="IFU_AYCAL_ENDPOINT={{ ifu_aycal_endpoint }}"
Environment="IDOC_BAY_IDOC_ENDPOINT={{ idoc_bay_idoc_endpoint }}"
Environment="IDOC_BAY_DOCPROCESS_ENDPOINT={{ idoc_bay_docprocess_endpoint }}"
Environment="IDOC_AYCAL_IDOC_ENDPOINT={{ idoc_aycal_idoc_endpoint }}"
Environment="IDOC_AYCAL_DOCPROCESS_ENDPOINT={{ idoc_aycal_docprocess_endpoint }}"
Environment="SERVER_PORT={{ server_port }}"
Environment="SERVER_SSL_KEY_STORE={{ key_store_path }}"
Environment="SERVER_SSL_KEY_STORE_PASSWORD={{ key_store_password }}"
Environment="SERVER_SSL_KEY_STORE_TYPE={{ key_store_type }}"
Environment="SERVER_SSL_KEY_ALIAS={{ key_store_alias }}"
Environment="JET_URL={{ jet_url }}"
Environment="JET_PROXY_HOST={{ jet_proxy_host }}"
Environment="JET_PROXY_PORT={{ jet_proxy_port }}"
Environment="LOG_FILE_NAME={{ log_file_name }}"
Environment="ACCESS_LOG_FILE_NAME={{ access_log_file_name }}"
ExecStart=/usr/bin/java -jar {{ jar_path }}
Restart=always

[Install]
WantedBy=multi-user.target
