/log/jet-adventure/*.log {
        daily
        missingok
        rotate 10
        compress
        delaycompress
        notifempty
        copytruncate
        create 640 jet-adventure adm
        su jet-adventure adm
        sharedscripts
        postrotate
            export HTTP_PROXY=http://{{ jet_proxy_host }}:{{ jet_proxy_port }}
            export HTTPS_PROXY=http://{{ jet_proxy_host }}:{{ jet_proxy_port }}
            /usr/bin/aws s3 cp /log/jet-adventure/jet-adventure.log.1 s3://ks-datadog-log-on-premise-201571571865/`hostname`/
            /usr/bin/aws s3 cp /log/jet-adventure/jet-adventure-access.log.1 s3://ks-datadog-log-on-premise-201571571865/`hostname`/
        endscript
}